:root{
	--f7-theme-color:#0ABAB5;
	--f7-navbar-bg-color: #fff; /*navbar*/
	--f7-navbar-link-color: #000; /*navbar link*/
	--f7-navbar-text-color:#000;
	--f7-bars-bg-color:#fff;/*toolbar*/
	--f7-tabbar-link-inactive-color: #333; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
}


.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}

#categories .card-header{ 
	max-height: 200px;

}

#categories img{ 
	max-height: 150px;

}

.button{
	text-transform:uppercase;
	background-color: #0ABAB5;
	width: 170px;
	
}

#productos img{ 
	max-height: 200px;
}

#reloj{
	text-align: center;
}

.img-fluid{
	max-width: 10%;
	display: block;
}

#reloj p{ 
	padding: 20px;
	text-align: justify;
	font-size: 12px;
}

#about-content h2{

}

.material-icons{
	color: #0ABAB5;
}



#reloj h2{
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 20px;
	padding-bottom: 50px;
	font-size: 20px;
	color: #000000;

}














